<div class="container">
    <div class="todo-wrapper">
        <input type="text" class="title-input" [(ngModel)]="todo.title" [ngStyle]="{'background-color': todo?.color }">
        <textarea class="content-input" rows="10" [(ngModel)]="todo.description" [ngStyle]="{'background-color': todo?.color }"></textarea>
    </div>
    <div class="button-wrapper">
        <button class="save-button" (click)="saveTodo()">
            Save todo
            <i class="material-icons">
                save
            </i>
        </button>
        <a class="cancel-button" [routerLink]="['/']">
            Cancel
            <i class="material-icons">
                <i class="material-icons">
                    cancel
                </i>
            </i>
        </a>
        <div class="lables">
            <div class="label" 
                *ngFor="let color of lables" 
                [ngStyle]="{'background-color': color }"
                (click)="setColor(color)"
            ></div>
        </div>
    </div>
</div>