.wrapper {
    padding: 20px 0;
    background-color: rgb(22, 22, 22);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.container {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    padding: 0;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-btn {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    min-width: 75px;
    cursor: pointer;
    font-size: 16px;
}

.profile-btn:not(:last-of-type) {
    margin-right: 10px;

}

.not-auth {
    font-size: 24px;
    color: #000;
    text-align: center;
    margin: 0 auto;
}

.profile-item {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    font-size: 18px;
}
